<div class="col-sm-12 col-md-8 col-md-offset-2">
  <%= simple_form_for @domain, url: path do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :logo, type: :file, label: false %>
      </div>

      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :status, as: :select, collection: Domain.statuses.keys %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :starting_offers %>
      </div>

      <div class="col-md-6">
        <%= f.input :likes, label: 'Starting Likes' %>
      </div>
    </div>

    <%= f.association :categories %>
    <%= f.button :submit %>
  <% end %>
</div>
