<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>Your Domains</h3>
      <br />
    </div>

    <div class="col-md-6 col-sm-6">
      <%= link_to 'Add Domain', new_dashboard_domain_path, class: 'btn btn-md btn-primary pull-right' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Name</th>
        <th>Status</th>
        <th>Company</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.domain.name %></td>
          <td><%= offer.name %></td>
          <td><%= offer.email %></td>
          <td><%= offer.company %></td>
          <td><%= number_to_currency(offer.amount) %></td>
          <td><%= offer.created_at.stamp('Jan 05, 2015') %></td>
          <td><%= offer.status.try(:humanize) %></td>
          <td><%= link_to '<span class="ion-edit"></span>'.html_safe, dashboard_offer_path(offer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
