<div class="container">
  <legend>Offer</legend>

  <br>

  <div class="col-sm-12">
    <div class="col-md-12">
      <p><strong>Domain: </strong> <%= @offer.domain.name %></p>
      <p><strong>Name: </strong> <%= @offer.name %></p>
      <p><strong>Email: </strong> <%= @offer.email %></p>
      <p><strong>Amount: </strong> <%= number_to_currency(@offer.amount) %></p>
      <p><strong>Message: </strong> <%= @offer.message %></p>
    </div>

    <%= simple_form_for @offer, url: dashboard_offer_path do |f| %>
      <div class="col-md-4">
        <%= f.input :status, as: :select, collection: Offer.statuses.keys %>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>

</div>
