<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>Your Domains</h3>
      <br />
    </div>

    <div class="col-md-6 col-sm-6">
      <%= link_to 'Add Domain', new_dashboard_domain_path, class: 'btn btn-md btn-primary pull-right' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Domain Name</th>
        <th>Status</th>
        <th>Offers</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.name %></td>
          <td><%= domain.status %></td>
          <td><%= domain.offers.count %></td>
          <td>
            <% domain.categories.each do |category | %>
              <span class="label label-default"><%= category.name %></span>
            <% end %>
          </td>
          <td><%= link_to '<span class="ion-edit"></span>'.html_safe, edit_dashboard_domain_path(domain) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

 <%#<a id="demo" href="#animatedModal">DEMO</a>%>
 <%#<div id="animatedModal">%>
   <%#<center>%>
     <%#<a href="" class="close-animatedModal ion-ios-close-outline icon-close"> </a>%>
   <%#</center>%>

  <%#<div class="container">%>
    <%#Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.%>
  <%#</div>%>

<%#<script>%>
  <%#$("#demo").animatedModal();%>
<%#</script>%>
