<div class="col-sm-12 col-md-6 col-md-offset-3">
  <%= simple_form_for @category, url: path do |f| %>
    <%= f.input :name %>
    <%= f.input :featured %>
    <%= f.button :submit %>
  <% end %>
</div>
