<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>List of Categories</h3>
      <br />
    </div>

    <div class="col-md-6 col-sm-6">
      <%= link_to 'Add New Category', new_dashboard_category_path, class: 'btn btn-md btn-primary pull-right' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Featured</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.featured %></td>
          <td><%= link_to '<span class="ion-edit"></span>'.html_safe, edit_dashboard_category_path(category) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
