<% if alert %>
  <div class="alert alert-dismissible alert-danger">
    <div class="container">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Oh Snap! </strong><%= alert %>.
    </div>
  </div>
<% elsif notice %>
  <div class="alert alert-dismissible alert-success">
    <div class="container">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Awesome! </strong><%= notice %>.
    </div>
  </div>
<% end %>
