<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Domains', dashboard_root_path %></li>
          <li><%= link_to 'Offers', dashboard_offers_path %></li>
          <li><%= link_to 'Categories', dashboard_categories_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
        <% else %>
          <!--
          <li><a href="#">Premium Domains</a></li>
          <li><a href="#">3 Letter Domains</a></li>
          <li><a href="#">Dictionary Domains</a></li>
          -->
        <% end %>
      </ul>
    </div>
  </div>
</nav>
