<div class="jumbotron" style="margin-top: -25px !important; padding: 50px;">
  <div class="container">
    <h1>Premium Domains</h1>
    <p>Start your dream business with these amazing domains.</p>
    <p><a class="btn btn-primary btn-lg">Check'em Out</a></p>
  </div>
</div>

<div class="container">
  <div class="dropdown col-md-2">
    <button class="btn btn-sm btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter By
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, root_path(category: category.name) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-10 col-sm-12">
    <% ('A'..'Z').to_a.each do |alphabet| %>
      <%= link_to alphabet, root_path(starts_with: alphabet.downcase), class: 'alphabet' %>
    <% end %>
  </div>

  <br>
  <br>
  <hr>

  <% @domains.each do |domain| %>
    <div class="col-md-3">
      <div class="thumbnail" style="border: 3px solid #FAFAF6;">
        <%= link_to "<i class='ion-ios-heart text-primary' data-toggle='tooltip' data-placement='top' title='#{domain.likes} Likes'></i>".html_safe, like_path(domain), class: 'icon-right', method: :put %>
        <i class="ion-cash text-green icon-left help" data-toggle="tooltip" data-placement="top" title="<%= domain.offers_count.to_i + domain.starting_offers.to_i %> offers"></i>
        <%= image_tag(domain.logo.url(:thumb), class: 'home-logo-image') %>
        <div class="caption">
          <h4 class="" style="color: #696975;"><%= domain.name %></h4>
          <%= link_to 'MAKE AN OFFER', new_domain_offer_path(domain) %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= paginate @domains, theme: 'twitter-bootstrap-3', pagination_class: "pagination-small pull-right" %>
  </div>
</div>
