<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="text-center">Log in</h2>
        <hr>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <br>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <br>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>
        <div class="actions">
          <br>
          <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <%#= render "devise/shared/links" %>
</div>
