<div class="container">
  <h3> Make an offer <small>Some offers are just too hard to deny, lets make one of those.</small></h3>
  <hr>
  <br>
  <br>
  <br>
  <div class="col-md-4">
    <div class="thumbnail" style="border: 3px solid #FAFAF6;">
      <%= link_to "<i class='ion-ios-heart text-primary' data-toggle='tooltip' data-placement='top' title='#{@domain.likes} Likes'></i>".html_safe, like_path(@domain), class: 'icon-right', method: :put %>
      <i class="ion-cash text-green icon-left help" data-toggle="tooltip" data-placement="top" title="<%= @domain.offers_count.to_i + @domain.starting_offers.to_i %> offers"></i>
      <%= image_tag(@domain.logo.url(:medium), class: 'img-responsive') %>
      <div class="caption">
        <h4 class="" style="color: #696975;"><%= @domain.name %></h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <%= simple_form_for @offer, url: domain_offers_path(@domain) do |f| %>
      <div class="row">
        <div class="col-md-6"><%= f.input :name %></div>
        <div class="col-md-6"><%= f.input :email %></div>
      </div>

      <div class="row">
        <div class="col-md-6"><%= f.input :company %></div>
        <div class="col-md-6"><%= f.input :amount %></div>
      </div>
      <%= f.input :message, input_html: { rows: 4 } %>
      <%= f.submit 'Submit Offer', class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>
