/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.bootswatch
 *= require dropify
 */

.icon-close {
  font-size: 40px;
}

.alphabet {
  padding: 10.7px;
}

.thumbnail > .icon-right {
  position: absolute;
  left: 75%;
  top: 5%;
  font-size: 30px;
}

.thumbnail > img.home-logo-image {
  max-height: 150px;
  max-width: 300px;
}

.thumbnail > .icon-left {
  position: absolute;
  left: 17%;
  top: 5%;
  font-size: 30px;
}

.text-green {
  color: #1abc9c;
}

.pointer {
  cursor: pointer;
}

.help {
  cursor: help;
}

.alert {
  margin: 0 !important;
}
